<div class="container admin-c pt-5">
  <div class="row">
    <div class="col-lg-12 my-3">
      <h2>Game History</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nama</th>
            <th scope="col">Email</th>
            <th scope="col">User Pick</th>
            <th scope="col">Comp Pick</th>
            <th scope="col">Point</th>
          </tr>
        </thead>
        <tbody>

          <% if (data.length > 0) { %>
            <% data.forEach(function (d) { %>
              <tr>
                <td><%= d.bi %></td>
                <td><%= d.id %></td>
                <td><%= d.id %></td>
                <td>
                  <a href="/sales/<%= d.id %>">Update</a>
                  /
                  <a href="/sales/delete/<%= d.id %>">Delete</a>
                </td>
              </tr>
            <% }) %>
          <% } else { %>
            <tr>
              <td colspan="6" style="text-align:center ;">Tidak ada data</td>
            </tr>
          <% } %>
    
        </tbody>
    </table>
    </div>
  </div>
</div>