<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- bootstrap style -->
  <!-- <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"> -->
  
  <!-- custom style -->
  <link rel="stylesheet" type="text/css" href="css/style.css" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="css/responsive.css" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="css/fonts.css" crossorigin="anonymous">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script> -->


  <title> <%= title %>  </title>
</head>
<body>

  <!-- section navbar -->
  <section class="bg-dark text-white bg-opacity-25 fixed-top">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/admin">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/admin/users">User</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </section>
  <!-- end section navbar -->

  <!-- section wrapper -->
  <div class="wrapper">
    <%- body %> 
  </div>

  <!-- end section wrapper -->


  
  <!-- bootstrap javascript -->
  <script src="js/jquery.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>