<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- bootstrap style -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" crossorigin="anonymous">
  
  <!-- custom style -->
  <link rel="stylesheet" type="text/css" href="css/style.css" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="css/responsive.css" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="css/fonts.css" crossorigin="anonymous">


  <title> <%= title %>  </title>
</head>
<body>

  <!-- section navbar -->
  <section class="bg-dark text-white bg-opacity-25 fixed-top">
    <div class="container">
      <div class="row">
        <nav class="navbar navbar-expand-lg">
          <div class="container-fluid">
            <a class="navbar-brand text-white" href="/"><strong>LOGO</strong></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active text-white" aria-current="page" href="/">HOME</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="#">WORK</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="#">CONTACT</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="#">ABOUT ME</a>
                </li>
              </ul>
              <span class="navbar-text text-white">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" href="/register">SIGN UP</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-white" href="/login">LOGIN</a>
                  </li>
                </ul>
              </span>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </section>
  <!-- end section navbar -->

  <!-- section wrapper -->
  <div class="wrapper">
    <%- body %> 
  </div>

  <!-- end section wrapper -->


  
  <!-- bootstrap javascript -->
  <script src="js/jquery.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>