  <!-- section body -->
  <section id="main" class="body container-fluid">
    <div class="row">

      <section class="header container">
        <div class="h-container col d-flex align-items-center justify-content-center ">
          <div class="headline text-center d-grid gap-3">
            <div class="p-2 text-white"><h1>PLAY TRADITIONAL GAME</h1></div>
            <div class="p-2 text-white"><h3>Experince new traditional game play</h3></div>
            <div class="p-2"><a href="/games" class="btn py-3" role="button" style="width: 260px; font-weight: bold; color: black; background-color: #FFB548; border: 1px solid #F3AF34;">PLAY NOW</a></div>
          </div>
        </div>

        <div class="scroll-down container">
          <div class="col text-center text-white fw-bold my-3">
            <a href="#about" class="nav-link">
              <div class="">THE STORY</div>
              <div class=""><img src = "images/home/scroll-down.svg" alt="My Happy SVG"/></div>
            </a>
          </div>
        </div>
      </section>


      <section class="about w-100 d-flex align-items-center justify-content-center" id="about">
        <div class="container-fluid my-3">
          <div class="row">
            
            <div class="col-lg-4 text-white">
              <h3>What's so special?</h3>
              <p>
                <h1>THE GAMES</h1>
              </p>
            </div>

            <div class="col-lg-7">
              <div class="gamegallery">
                <div id="demo" class="carousel slide " data-bs-ride="carousel">
                  <!-- Indicators/dots -->
                  <div class="carousel-indicators c-indicators">
                    <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
                    <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
                    <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
                    <button type="button" data-bs-target="#demo" data-bs-slide-to="3"></button>
                    <button type="button" data-bs-target="#demo" data-bs-slide-to="4"></button>
                  </div>
                  <!-- The slideshow/carousel -->
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img src="images/home/rockpaperstrategy-1600.jpg" alt="rock Paper Scissors" class="d-block" style="width:100%">
                    </div>
                    <div class="carousel-item">
                      <img src="images/home/rockpaperstrategy-1600.jpg" alt="rock Paper Scissors" class="d-block" style="width:100%">
                    </div>
                    <div class="carousel-item">
                      <img src="images/home/rockpaperstrategy-1600.jpg" alt="rock Paper Scissors" class="d-block" style="width:100%">
                    </div>
                    <div class="carousel-item">
                      <img src="images/home/rockpaperstrategy-1600.jpg" alt="rock Paper Scissors" class="d-block" style="width:100%">
                    </div>
                    <div class="carousel-item">
                      <img src="images/home/rockpaperstrategy-1600.jpg" alt="rock Paper Scissors" class="d-block" style="width:100%">
                    </div>
                  </div>
                  <!-- Left and right controls/icons -->
                  <button class="carousel-control-prev-icon" type="button" data-bs-target="#demo" data-bs-slide="prev">
                  </button>
                  <button class="carousel-control-next-icon" type="button" data-bs-target="#demo" data-bs-slide="next">
                  </button>
                </div>
              </div>
            </div>

          </div>
        </div>
      </section>

      <section id="gamefeatures" class="gamefeatures text-white  d-flex align-items-center justify-content-center" ">
        <div class="container-fluid my-3">
          <div class="row justify-content-end">

            <div class="col-lg-6">
              <div class=""><h3>What's so special?</h3></div>
              <div class=""><h1>FEATURES</h1></div>
              <ul class="features mt-5">
                <li>
                  <p class="featurestitle">TRADITIONAL GAMES</p>
                  <p class="featuresinfo"> If you miss your childhood, we provide many traditional games here</p>
                </li>
                <li>
                  <p class="featurestitle">GAME SUIT</p>
                </li>
                <li>
                  <p class="featurestitle">TBD</p>
                </li>
              </ul>
            
            </div>
          </div>
        </div>
      </section>

      <section id="sysreq" class="sysreq d-flex align-items-center justify-content-center">
        <div class="container-fluid my-3">
          <div class="row text-white">

            <div class="col-12 text-center">
              Can My Computer Run this game?
            </div>

            <div class="col-lg-6">
              <div class="requirment">
                <h1>
                  SYSTEM
                  <P>REQUIREMENTS</P>
                </h1>
                <table style="border: 2px;">
                  <tr>
                    <td>
                      <div class="sysreqtitle">OS :</div>
                      <div class="sysreqinfo">
                        Windows 7 64-bit only
                        <p>
                          (No OSX support at this time)
                        </p>
                      </div>
                    </td>
                    <td>
                      <div class="sysreqtitle">PROCESSOR :</div>
                      <div class="sysreqinfo">
                        Intel Core 2 Duo @ 2.4 GHZ or 
                        <p>
                          AMD Athlon X2 @ 2.8 GHZ
                        </p>
                      </div>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <div class="sysreqtitle">MEMORY :</div>
                      <div class="sysreqinfo">
                        4 GB RAM
                      </div>
                    </td>
                    <td>
                      <div class="sysreqtitle">STORAGE :</div>
                      <div class="sysreqinfo">
                        8 GB available space
                      </div>
                    </td>
                  </tr>

                  <tr>
                    <td colspan="2">
                      <div class="sysreqtitle">GRAPHICS :</div>
                      <div class="sysreqinfo">
                        NVIDIA GeForce GTX 660 2GB or 
                        <P>
                          AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)
                        </P>
                      </div>
                    </td>
                  </tr>
                </table>
              </div>
            </div>

          </div>
        </div>
      </section>

      <section id="quotes" class="quotes">
        <div class="container-fluid h-100">
          <div class="row text-white h-100">

            <div class="col-lg-6 d-flex align-items-center">
              <div class="mainscores my-3">
                <h1>TOP SCORES</h1>
                <P>
                  This top score from various games provided on this platform
                </P>
                <div class="py-2"><a href="/games" class="btn py-3" role="button" style="width: 260px; font-weight: bold; color: black; background-color: #FFB548; border: 1px solid #F3AF34;">PLAY NOW</a></div>
              </div>
            </div>

            <div class="col-lg-6 my-3 ">
              <div class="col-12 d-flex justify-content-end">
                <div class="userscore">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-auto position-relative">
                        <img class="scorefotoprofile" src="images/home/evan-lahti.jpg" alt=""> 
                      </div>
                      <div class="col">
                        <div class="sysreqtitle">
                          Evan Lahti
                        </div>
                        <div class="scorework">
                          PC Gamer
                        </div>
                      </div>
                      <div class="col-auto">
                        <img src="images/home/twitter.svg" alt="">
                      </div>
                    </div>
                  </div>
                  
                  <div class="col-12">
                    <div class="thequotes">
                      “The next big thing in the world of streaming and survival games.”
                    </div>
                    <div class="dategame">
                      June 18, 2021
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12">
                <div class="userscore">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-auto position-relative">
                        <img class="scorefotoprofile" src="images/home/jada-griffin.jpg" alt=""> 
                      </div>
                      <div class="col">
                        <div class="sysreqtitle">
                          Jada Griffin 
                        </div>
                        <div class="scorework">
                          Nerdreactor
                        </div>
                      </div>
                      <div class="col-auto">
                        <img src="images/home/twitter.svg" alt="">
                      </div>
                    </div>
                  </div>
                  
                  <div class="col-12">
                    <div class="thequotes">
                      “The next big thing in the world of streaming and survival games.”
                    </div>
                    <div class="dategame">
                      July 10, 2021
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12 d-flex justify-content-end">
                <div class="userscore">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-auto position-relative">
                        <img class="scorefotoprofile" src="images/home/aaron-williams.jpg" alt=""> 
                      </div>
                      <div class="col">
                        <div class="sysreqtitle">
                          Aaron Williams 
                        </div>
                        <div class="scorework">
                          Uproxx
                        </div>
                      </div>
                      <div class="col-auto">
                        <img src="images/home/twitter.svg" alt="">
                      </div>
                    </div>
                  </div>
                  
                  <div class="col-12">
                    <div class="thequotes">
                      “Snoop Dogg Playing The Wildly Entertaining ‘SOS’ Is Ridiculous.”
                    </div>
                    <div class="dategame">
                      December 24, 2018
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </section>

      <section class="newsletter">
        <div class="container-fluid my-3 text-white">
          <div class="row">
            <div class="col-lg-5">
              <div class="newsletterimg d-flex align-items-center justify-content-end">
                <img src="images/home/skull.png" alt="">
              </div>
            </div>
            <div class="col-lg-7 d-flex align-items-center">
              <div class="newslettertext">

                <div class="font24">
                  Want to stay in
                  <p>
                    touch?
                  </p>
                </div>
                <div class="newletterh">
                  <h1>
                    NEWSLETTER 
                    <p>
                      SUBSCRIBE
                    </p>
                  </h1>
                </div>
                <div class="font18">
                  In order to start receiving our news, all you have to do is enter your email address. Everything else will be taken care of by us. We will send you emails containing information about game. We don’t spam.
                </div>
                <div class="subscribe row">
                  <div class="col-lg-7">
                    <input type="text w-100" placeholder="youremail@binar.co,id">
                  </div>
                  <div class="col-lg-5">
                    <div class="py-2"><a href="#" class="btn py-3" role="button" data-bs-toggle="button" style="width: 260px; font-weight: bold; color: black; background-color: #FFB548; border: 1px solid #F3AF34;">SUBSCRIBE</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row d-flex justify-content-center">
            <div class="col-lg-12 footer row  d-flex justify-content-end">
              <div class="col-lg-auto footernav row my-3">
                <div class="col-lg-auto">
                  <a href="#main">MAIN</a>
                </div>
                <div class="col-lg-auto">
                  <a href="#about">ABOUT</a>
                </div>
                <div class="col-lg-auto">
                  <a href="#gamefeatures">GAME FEATURES</a>
                </div>
                <div class="col-lg-auto">
                  <a href="#sysreq">SYSTEM REQUIREMENTS</a>
                </div>
                <div class="col-lg-auto">
                  <a href="#quotes">QUOTES</a>
                </div>
              </div>
              <div class="col-lg-auto row my-3 mx-3">
                <div class="col">
                  <img src = "images/home/facebook.svg" alt="My Happy SVG"/>
                </div>
                <div class="col">
                  <img src = "images/home/twitter.svg" alt="My Happy SVG"/>
                </div>
                <div class="col">
                  <img src = "images/home/vector.svg" alt="My Happy SVG"/>
                </div>
                <div class="col">
                  <img src = "images/home/twitch.svg" alt="My Happy SVG"/>
                </div>
              </div>
            </div>
          </div>
          <div class="row my-3 d-flex justify-content-center">
            <div class="copyright row">
              <div class="col-lg-6">
                &copy; 2018 Your Games, Inc. All Rights Reserved
              </div>
              <div class="col-lg-6 d-flex justify-content-end">
                Privacy Policy | Terms of Services | Code of Conduct 
              </div>
            </div>
          </div>
        </div>
      </section>

    </div>
  </section>
  <!-- end section body -->