/* =================================== SECTION FONT FAMILY =================================== */

@font-face{
	font-family: "Open-Sans Custom";
  src: url("../fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype");
}
@font-face{
	font-family: "Bebas-Neue Custom";
  src: url("../fonts/Open_Sans/BebasNeue-Regular.ttf") format("truetype");
}

/* =================================== END SECTION FONT FAMILY =================================== */



.font14
{
	font-size: 14px;
}

.font16
{
	font-size: 16px;
}

.font18
{
	font-size: 18px;
}

.font20
{
	font-size: 20px;
}

.font22
{
	font-size: 22px;
}

.font24
{
	font-size: 24px;
}