@media only screen and (min-width: 992px) {
  /* For desktop: */
  .about
  {
    height: 90vh;
  }
  .gamefeatures
  {
    height: 110vh;
  }
  .sysreq
  {
    height: 90vh;
  }
  /* .quotes
  {
    min-height: 90vh;
  } */

  .requirment
  {
    margin: 0 40px;
  }

}

@media only screen and (min-width: 1400px) {
  /* For desktop: */

  .quotes
  {
    /* min-height: 90vh; */
    padding: 0 200px;
  }

  .newslettertext
  {
    margin: 0 150px;
  }

  .footer
  {
    width: 80%;
  }

  .copyright
  {
    width: 80%;
  }
}