
h1
{
	font-size: calc(12px + 3.6vw);
	/* font-weight: 700; */
}
h2
{
	font-size: calc(12px + 2.5vw);
	/* font-weight: bold; */
}

h3
{
	font-size: calc(12px + 1.5vw);
	/* font-weight: 400; */
}

li span
{
	font-size: 16px;
}



/* =================================== SECTION NAVBAR =================================== */

/* =================================== END SECTION NAVBAR =================================== */



/* =================================== SECTION HEADER =================================== */
.header
{
	background-image: linear-gradient(to bottom, rgba(255,0,0,0), black 100%), url("../images/home/main-bg.jpg");
	background-position: center center;
  background-repeat: no-repeat;
	background-size: cover;
}

.header h1
{
	font-weight: bold;
}

.h-container
{
	/* background-image: linear-gradient(to bottom, rgba(255,0,0,0), black); */
	min-height: 90vh;
}

/* =================================== END SECTION HEADER =================================== */


/* =================================== SECTION ABOUT =================================== */

.about
{
	background-image: linear-gradient(to top, rgba(255,0,0,0), black 100%), linear-gradient(to bottom, rgba(255,0,0,0), black 180%), url("../images/home/the-games-bg.jpg");
	background-position: center center;
  background-repeat: no-repeat;
	background-size: cover;
}

.p-center
{
	position: absolute;
  top: 50%;
}

.c-indicators button
{
	border-radius: 50%;
	width: 10px !important; 
	height: 10px !important;
}

.carousel-control-prev-icon {
  position: absolute;
  top: 50%;
	text-align: center;
  margin-left: -40px;
	border: none;
  background-image: url("../images/home/switch-left.svg");
	background-color: Transparent;
}
.carousel-control-next-icon {
  position: absolute;
	right: 0;
  top: 50%;
	text-align: center;
  margin-right: -40px;
	border: none;
  background-image: url("../images/home/switch-right.svg");
	background-color: Transparent;
}

.gamegallery
{
	margin: 0 15px;
}

/* =================================== END SECTION ABOUT =================================== */


/* ===================================  SECTION GAME FEATURES =================================== */
.gamefeatures
{
	background-image: linear-gradient(to bottom, rgba(255,0,0,0), black 200%), linear-gradient(to top, rgba(255,0,0,0), black 400%), url("../images/home/features.jpg");
	background-position: center center;
  background-repeat: no-repeat;
	background-size: cover;
}

.features li { 
	list-style-type: none;
	font-size: 16px;
}

.featurestitle
{
	position: relative;
	color: #FFB548;
	font-size: 24px;
}

.featuresinfo
{
	font-size: 18px;
}

.featurestitle::before 
{
	content: "";
	position: absolute;
	transform: translateX(-200%);
	top:15px;
	border-radius: 50%;
	background: #fff;
	border: 1px #ccc solid;
	width: .5em;
	height: .5em;
}

.featuresinfo
{
	position: relative;
}

/* .events li { 
  display: flex; 
  color: #999;
}

.events time { 
  position: relative;
  padding: 0 1.5em;  }

.events time::after { 
   content: "";
   position: absolute;
   z-index: 2;
   right: 0;
   top: 0;
   transform: translateX(50%);
   border-radius: 50%;
   background: #fff;
   border: 1px #ccc solid;
   width: .8em;
   height: .8em;
} */

/* =================================== END SECTION GAME FEATURES  =================================== */


/* ===================================  SECTION SISTEM REQUIREMENTS  =================================== */
.sysreq 
{
	background-image: linear-gradient(to bottom, rgba(255,0,0,0), black 200%), linear-gradient(to top, rgba(255,0,0,0), black 400%), url("../images/home/requirements.png");
	background-position: center center;
  background-repeat: no-repeat;
	background-size: cover;
}

.sysreq table, th, td
{
	border: 1px solid;
	border-collapse: collapse;
}

.sysreq table
{
	width: 100%;
}

.sysreqtitle
{
	color:#FFB548 ;
	font-size: 24px;
}


/* =================================== END SECTION SISTEM REQUIREMENTS  =================================== */


/* =================================== END SECTION QUOTES  =================================== */

.quotes
{
	background-image: linear-gradient(to bottom, rgba(255,0,0,0), black 200%), linear-gradient(to top, rgba(255,0,0,0), black 400%), url("../images/home/top-score-bg.png");
	background-position: center center;
  background-repeat: no-repeat;
	background-size: cover;
}

.userscore
{
	background: rgba(255, 255, 255, 0.08);
	border-radius: 10px;
	width: 80%;
	margin: 15px 10px;
	padding: 15px;
}

img.scorefotoprofile
{
	height: 65px;
	width: 65px;
	border-radius: 50%;
	box-shadow: 7px 7px #FFB548;
}

.scorework
{
	font-size: 18px;
	color: rgba(255, 255, 255, 0.5);
}

.thequotes
{
	font-size: 18px;
	margin-top: 25px ;
}

.dategame
{
	font-size: 14px;
	color: rgba(255, 255, 255, 0.5);
}



/* =================================== END SECTION QUOTES  =================================== */


/* ===================================  SECTION NEWSLETTER  =================================== */

.newsletter
{
	background-image: linear-gradient(to bottom, rgba(255,0,0,0), black 200%), linear-gradient(to top, rgba(255,0,0,0), black 400%), url("../images/home/newsletter.png");
	background-position: center center;
  background-repeat: no-repeat;
	background-size: cover;
}

.subscribe input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid red;
	background-color:black;
}

.footer
{
	border-bottom: 1px solid;
}

.footernav a
{
	text-decoration: none;
	color: white;
	font-weight: bold;
}
/* =================================== END SECTION NEWSLETTER  =================================== */


